
<main>
    <div class="card">
        <h2>Registro</h2>
        <div>
            <label for="">Nome</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Sobrenome</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">Endereço Email</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <h3></h3>
        <app-proguess-steps></app-proguess-steps>
        <h4><span></span></h4>
        <div class="icons">
            <i class="ri-google-fill"></i>
            <i class="ri-facebook-fill"></i>
            <i class="ri-instagram-fill"></i>
        </div>
    </div>
</main>