
<main>
    <div class="card">
        <h2>Text</h2>
        <div>
            <label for="something">something</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">something</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <h3>something</h3>
        <div class="submit-button">
            <button>something</button>
        </div>
    
        <h4>something, <span>something</span></h4>
        <div class="icons">
            <i class="ri-google-fill"></i>
            <i class="ri-facebook-fill"></i>
            <i class="ri-instagram-fill"></i>
        </div>
    </div>
</main>