
<main>
    <div class="card">
        <h2>Text</h2>
        <div>
            <label for="something">something</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">something</label>
            <br>
            <input type="text" name="" id="">
        </div>
        <h3>something</h3>
        <div class="submit-button">
            <button>something</button>
        </div>
    
        <h4>something</h4>
        <h4>something</h4>

    </div>
</main>